html{
    background: seagreen;
}
body{
    background: #e3e3e3;
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px;
    padding: 40px;
    color: rgb(255, 68, 11);
    border-top: 10px solid rgb(255, 68, 11);
}
header{
    margin: 10px;
}
.stickyarea{
    background: seagreen;
    position: sticky;
    top:0;
}
section{
    display: flex;
}
.blog-post{
    padding: 20px;
    margin: 20px;
    display: flex;
    border-bottom: 1px dotted #a00f0f;
}
.meet-me{
    padding: 20px;
    margin: 20px;
    display: flex;
}
.img-container{
    background: blue;
    height: 300px;
    width: 300px;
    float: right;
    margin: 0 0 10px 10px;
    padding: 10px;
    border-top: 1px solid #999;
    border-right: 2px solid #555;
    border-bottom: 2px solid #555;
    border-left: 1px solid #999;
}
div.img-container img
{
border-top: 2px solid #555;
border-right: 1px solid #999;
border-bottom: 1px solid #999;
border-left: 2px solid #555;
}
h1{
    font-size: 3em;
    margin: 0;
}
p{
    line-height: 1.5em;

}
h2{
    font-size: 2em;
}
h3{
    font-size: 2em;
    
}
h4{
    font-size: 2em;
}
ul {
    list-style: square;
}
a[href="https://twitter.com/E_Matasovsky57"]{
    color: gold;
}
#blog {
    border-top: 1px dotted slateblue;
}

