html{
    background: seagreen;
}
body{
    background: #e3e3e3;
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px;
    padding: 40px;
    color: rgb(255, 68, 11);
    border-top: 10px solid rgb(255, 68, 11);
}
h1{
    font-size: 3em;
}
h2{
    font-size: 3em;
}
h4{
    font-size: 2em;
}