html{
    background: seagreen;
}
body{
    background: #e3e3e3;
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px;
    padding: 40px;
    color: rgb(255, 68, 11);
    border-top: 10px solid rgb(255, 68, 11);
}
header{
    background: seagreen;
    position: sticky;
    top:0;
}
section{
    display: flex;
}
article{
    padding: 20px;
    margin: 20px;
}
article:nth-of-type(1){
    flex: 1;
}
article:nth-of-type(2){
    flex: 3;
}
article:nth-of-type(3){
    flex: 1;
}
h1{
    font-size: 3em;
    margin: 0;
}
p{
    line-height: 1.5em;

}
h2{
    font-size: 2em;
}
h3{
    font-size: 2em;
    
}
h4{
    font-size: 2em;
}
ul {
    list-style: square;
}
a[href="https://twitter.com/E_Matasovsky57"]{
    color: gold;
}
#blog {
    border-top: 1px dotted slateblue;
}
.blog-post{
    border-bottom: 1px dotted #a00f0f;
}
